<!--The content below is only a placeholder and can be replaced.-->
<div>
  <pre>
    <div *ngFor="let user of allUsers | async | select : 'allUsers'">
      {{ user | json }}
    </div>
  </pre>
  <form #heroForm="ngForm">
    <input type="text" [(ngModel)]="model.first_name" name="first_name" />
    <input type="text" [(ngModel)]="model.last_name" name="last_name" />
    <input type="text" [(ngModel)]="model.email" name="email" />
    <button (click)="addUserClicked(field)">ADD</button>
  </form>
</div>
